

{% block title %}{% endblock %}

{% block body %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('css_templates/css_login.css') }}" />
     {% block stylesheets %}{% endblock %}
</head>
	
<div class="div_log">

	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
		<label class="titreID" for="inputEmail">Email :</label>
		</br>
		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="barre" autocomplete="email" required autofocus>
		</br>
		<label class="titreID" for="inputPassword">Mot de passe :</label>
		</br>
		<input type="password" name="password" id="inputPassword" class="barre" autocomplete="current-password" required>

		<input type="hidden" name="_csrf_token"
			   value="{{ csrf_token('authenticate') }}"
		>
		</br>
    	<a class= "mdpoublier" href="">Mot de passe oublier</a> 

		{#
			Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
			See https://symfony.com/doc/current/security/remember_me.html

			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="_remember_me"> Remember me
				</label>
			</div>
		#}
		</br>
		<button  type="submit" class="tagrandmerelapute">CONNEXION</button>
		
	</form>
</div>
{% endblock %}
