<!DOCTYPE html>
<html>
	<style source="css_templates/footer.css">	</style>
    
    
    <head>
        <meta charset="UTF-8">
       
    </head>
	<footer class="footer">
		<p>fooooter</p>

    </footer>
</html>
