{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


 
        <h1> utilisateur : </h1>
        <p> mail :</p>
        {{ mail }}
        </n>
		<p> mdp :</p>
		{{ mdp }}
		
		<p> user </p>
		</n>
		{{ user }}
        
        <p> mot de passe chercher </p>
		</n>
		{{ mdp_base }}
    
		
{% endblock %}

