{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('css_templates/css_login1.css') }}" />
     {% block stylesheets %}{% endblock %}
</head>


	<div class="div_log">
   {{ form_start(form) }}
        <div >
			<p class="titre">Identifiant :<p>
			<div >
      	 	{{ form_widget(form.mail , {'attr': {'placeholder': 'Entrez votre email', 'class': 'barre'}}) }}
			</div>
		</div>
		{% if app.session.flashBag.has('error_mail') %}
        <div >
            {% for msg in app.session.flashBag.get('error_mail') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
		<div>
			<p class="titre">Mot de passe :</p>
			<div >
       		{{ form_widget(form.mdp , {'attr': {'placeholder': 'Entrez votre Mot de passe' , 'class': 'barre'}}) }}
    		</div>
    	</div>
    	{% if app.session.flashBag.has('error_mdp') %}
        <div >
            {% for msg in app.session.flashBag.get('error_mdp') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    	<a class= "mdpoublier" href="">Mot de passe oublier</a> 
    	<br>
    	<button class="connexion" type="submit">Connexion</button>
		
	
    
    
    
		
   {{ form_end(form) }}
   </div>
   
{% endblock %}

