{% extends 'base.html.twig' %}
  
{% block title %}Gestion Processus {% endblock %}

{% block body %}

<script type = "text/javascript">  

	function confirmSuppr() {
	
		if (confirm("Supprimer l'activité ?") == false) {
	
			event.preventDefault();
	
		}
	}

</script>

<div>
    <h1>Récapitulatif global </h1>
    <table>
        <tr scope="col" ><th>Processus</th><th>Spécialités/Commun</th><th>Activités</th></tr>
        {% for p in listeProcessus %}
        	<tr><th  scope="row" >{{ p.nom }}</th><td>
		
		{% for par in parcours[p.id] %}
			{{ par.nom }}
		{% endfor %}
		</td><td>
		{% if listeActivites[p.id] %}
			{% for a in listeActivites[p.id] %}
			    </br></br></br>{{ a.nom }}:       
    		    
		<a href="{{ path('editActivite', {'id': a.id}) }}"><button>Editer</button></a>
		<a href="{{ path('deleteActivite', {'id': a.id}) }}"><button onClick="confirmSuppr()">Supprimer</button></a>
			    </br>Compétences:
			    {% for comp in competences[a.id] %}
				</br>{{ comp.nom }}
			    {% endfor %}
			    
			    
			{% endfor %}
		{% endif %}
		</td></tr>
        {% endfor %}
    </table>
    
    </div>
<a href="{{ path('ajoutActivite') }}"><button>Ajout Activite</button></a>

{% endblock %}
