{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 
{% endblock %}

{% block title %}Formulaire d'ajout de message{% endblock %}


{% block body %}

<p>Nouvelle compétence:</p>

{{ form(form) }}

{% endblock %}
