{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 
    {% endblock %}

{% block title %}Hello CompetenceController!{% endblock %}

{% block body %}

 Activité: {{ activites.nom }}</br></br>
        {% for c in competences %}
		</br>{{ c.nom }}  
<a href="{{ path('editCompetence', {'id': c.id}) }}"><button type="button">Modifier</button></a>
        {% endfor %}
	
</br></br></br>
<a href="{{ path('ajoutCompetence')}}"><button type="button">Ajouter</button></a>
{% endblock %}
