{% extends 'base.html.twig' %}

{% block title %}Liste des etudiants{% endblock %}

{% block body %}

<h1>Liste des etudiants</h1>
{{ form_start(form) }}
{{ form_widget(form.addUser, {'attr': {'class': 'addUser'}}) }}
{{ form_end(form) }}

<table id="tab" class="display">
	<thead><tr><th>Nom</th><th>Prenom</th><th>Mail</th><th>Situations</th><th>Synthèse</th></tr></thead>

	<tbody>
		{% for e in eleves %}
			<tr>
				<th>{{ e.nom }}</th>
				<td>{{ e.prenom }}</td>
				<td>{{ e.email }}</td>
				<td><a href="{{ path('affichersitueleve', {'id':e.id}) }}"><button class="btnUtil">Situation</button></a></td>
				<td><a href="{{ path('synthese_pdfeleveid', {'id':e.id}) }}"><button class="btnUtil">Synthèse</button></a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}