{% extends 'base.html.twig' %}

{% block title %}Situations !{% endblock %}

{% block stylesheets %}
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="stylesheet" href="{{ asset('css_templates/situation.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 
{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<script type = "text/javascript">  

	function confirmSuppr() {
	
		if (confirm("Supprimer la situation ?") == false) {
	
			event.preventDefault();
	
		}
	}
</script>

<div class="example-wrapper">
<h1>Situations</h1>
{% if is_granted('ROLE_ETUD') %}
<br/>
<p><a href="{{ path('ajoutsituation') }}"><button id="btn" class="bx bx-plus-medical"></button></a><p>
<br/>

    {% if situations is empty %}
	<center><h2>Vous n'avez pas de Situations</h2></center>
    {% else %}
	<table>
	    <tr><th>Libelles</th><th>Activités</th><th>Productions</th><th>Modifier</th><th>Supprimer</th></tr>

	    {% for s in situations %}
		<tr><td>{{s.libelle}}</td>
		<td><a href="{{ path('activiteParSituation', {'id': s.id}) }}"><button class="btnUtil">Activités</button></a></td>
		<td><a href="{{ path('afficherproduction', {'id': s.id}) }}"><button class="btnUtil">Productions</button></a></td>
		<td><a href="{{ path('modifiersituation', {'id': s.id}) }}"><button class="btnUtil">Modifier</button></a></td>
		<td><a href="{{ path('supprimersituation', {'id': s.id}) }}"><button class="btnUtil" onClick="confirmSuppr()">Supprimer</button></a></td></tr>
	    {% endfor %}
	</table>
    {% endif %}
{% endif %}
{% if is_granted('ROLE_PROF') %}
    {% if situations is empty %}
	<center><h2>Il n'y a pas de Situations</h2></center>
    {% else %}
	<table>
	    <tr><th>Libelles</th><th>Activités</th><th>Productions</th><th>Détails</th></tr>

	    {% for s in situations %}
		<tr><td>{{s.libelle}}</td>
		<td><a href="{{ path('activiteParSituation', {'id': s.id}) }}"><button class="btnUtil">Activités</button></a></td>
		<td><a href="{{ path('afficherproduction', {'id': s.id}) }}"><button class="btnUtil">Productions</button></a></td>
		<td><a href="{{ path('modifiersituation', {'id': s.id}) }}"><button class="btnUtil">Détail</button></a></td>
	    {% endfor %}
	</table>
    {% endif %}
{% endif %}

</div>
{% endblock %}
