{% extends 'base.html.twig' %}

{% block title %}Situations !{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

<h1>Ensemble des Situations</h1>

{% if situations is empty %}
	<h3>Il n'y a pas de Situations</h3>
{% else %}
	<table id="tab" class="display">
		<thead><tr><th>Parcours</th><th>Promotion</th><th>Étudiant</th><th>Situations</th><th>Détails</th></tr></thead>
		<tbody>
			{% for situation in situations %}
				<tr>
					<th>{{ situation.etudiant.parcours.nom }}</th>
					<th>{{ situation.etudiant.promotion.nom }}</th>
					<td>{{ situation.etudiant.nom }}</td>
					<td>{{ situation.libelle }}</td>
					<td><a href="{{ path('modifiersituation', {'id': situation.id}) }}"><button class="btnUtil">Détail</button></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script> <!-- Importation du JS DATATABLE -->
	<script>
		$(document).ready( function () {
			$('#tab').DataTable({
				"language": {
					"sProcessing": "Traitement en cours ...",
					"sLengthMenu": "Afficher _MENU_ lignes",
					"sZeroRecords": "Aucun résultat trouvé",
					"sEmptyTable": "Aucune donnée disponible",
					"sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
					"sInfoEmpty": "Aucune ligne affichée",
					"sInfoFiltered": "(Filtrer un maximum de _MAX_)",
					"sInfoPostFix": "",
					"sSearch": "Chercher:",
					"sUrl": "",
					"sInfoThousands": ",",
					"sLoadingRecords": "Chargement...",
					"oPaginate": {
						"sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
					},
					"oAria": {
						"sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
					}
				}
			});
		} );
	</script>
{% endblock %}
