{% extends 'base.html.twig' %}

{% block title %}Situations !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {% if is_granted('ROLE_ETUD') %}
        <div class="example-wrapper">
            {{ form_start(form) }}
            {{ form_label(form.libelle) }}
            {{ form_widget(form.libelle) }}
            <br>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            <br>
            {{ form_label(form.localisation) }}
            {{ form_widget(form.localisation) }}
            <br>
            {{ form_label(form.source) }}
            {{ form_widget(form.source) }}
            <br>
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
            <br>
            {{ form_label(form.environnementTech) }}
            {{ form_widget(form.environnementTech) }}
            <br>
            {{ form_label(form.moyens) }}
            {{ form_widget(form.moyens) }}
            <br>
            {{ form_label(form.avisPersonnel) }}
            {{ form_widget(form.avisPersonnel) }}
            <br>
            {{ form_label(form.dateDebut) }}
            {{ form_widget(form.dateDebut) }}
            {{ form_label(form.dateFin) }}
            {{ form_widget(form.dateFin) }}
            {{ form_widget(form.enregistrer) }}
            {{ form_widget(form.retour) }}
            {{ form_widget(form.activite) }}
            <br>
            <br>
            <div class="disable">
                {{ form_label(form.commentaire_profs) }}
                {{ form_widget(form.commentaire_profs) }}
            </div>
            {{ form_end(form) }}
        </div>
    {% elseif is_granted('ROLE_PROF') %}
        <div class="example-wrapper">
            {{ form_start(form) }}
            <div class="disable">
                {{ form_label(form.libelle) }}
                {{ form_widget(form.libelle) }}
                <br>
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                <br>
                {{ form_label(form.localisation) }}
                {{ form_widget(form.localisation) }}
                <br>
                {{ form_label(form.source) }}
                {{ form_widget(form.source) }}
                <br>
                {{ form_label(form.type) }}
                {{ form_widget(form.type) }}
                <br>
                {{ form_label(form.environnementTech) }}
                {{ form_widget(form.environnementTech) }}
                <br>
                {{ form_label(form.moyens) }}
                {{ form_widget(form.moyens) }}
                <br>
                {{ form_label(form.avisPersonnel) }}
                {{ form_widget(form.avisPersonnel) }}
                <br>
                {{ form_label(form.dateDebut) }}
                {{ form_widget(form.dateDebut) }}
                {{ form_label(form.dateFin) }}
                {{ form_widget(form.dateFin) }}
            </div>
            {{ form_label(form.commentaire_profs) }}
            {{ form_widget(form.commentaire_profs) }}
            <br>
            {{ form_widget(form.enregistrer) }}
            <div style="display: none">
                {{ form_widget(form.retour) }}
                {{ form_widget(form.activite) }}
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}