{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="stylesheet" href="{{ asset('css_templates/css_profil.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 
    {% endblock %}

    {% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="ProfilUtilisateur">

    <h1>Profil</h1>
    <br />
    <div class="corps centrer">
        {{ form_start(form) }}
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
            <br>
            <br />
            {{ form_label(form.prenom) }}
            {{ form_widget(form.prenom) }}
            <br>
            <br />
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            <br>
            <br />
            {{ form_label(form.password) }}
            {{ form_widget(form.password) }}
            <br>
            <br />
            {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>
	
	{% if is_granted('ROLE_PROF') %}
        <br />
        <h1>Paramètrage de l'application</h1>
        <br />
        <a href="{{ path('admin')}}" class="lien"><button class="btnUtil" style="display: block;margin: auto;">Espace Administrateur</button></a>
	{% endif %}
</div>
{% endblock %}