.div_log {
	background: #363636;
	margin: 0 auto;
	margin-top: 200px;
	width: 350px;
	text-align: center;
	color: white;
	font-family: sans-serif;
	padding: 20px 0;
}

.titreID {
	float: left;
	margin-left: 80px;
}

.barre{
width: 200px;
height: 30px;
outline: none;
border: 2px solid #00B8FF;
box-sizing: border-box;
border-radius: 12px;
margin-top: 5px;
margin-bottom: 10px
}

.mdpoublier{
	text-decoration: none;
	color: white;
}

.mdpoublier:hover {
	text-decoration: underline;
}

/*
.titre{
	
font-size: 1.2em;
margin-bottom: 5%;


}

.div_log button {
	background: blue;
}

.div_log{
	
margin-top: 8%;
margin-bottom:30%;
margin-left: 30%;
margin-right: 30%;
padding-top: 1%;
border: 3px solid black;
text-align: center;
background-color:#363636;
}



