#btn {
	font-size: 1em;
	cursor: pointer;
	border: 1px solid black;
}

#btn:hover {
	background: black;
	color: white;
	transition: all 0.3s ease;
}

table {
	text-align: center;
	margin: 0 auto;
}

p {
	text-align: center;
}

#supp {
	font-size: 1,5em;
}