{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content_title 'Tableau de bord' %}
{% block page_title 'Tableau de bord' %}

{% block main %}
<div class="row pt-4">
    <div class="col text-center">
        {% set url = ea_url()
            .setController('App\\Controller\\Admin\\ParcoursCrudController')
            .setAction('index')
        %}
        <a href="{{ url }}"><button type="button" class="btn btn-secondary btn-lg col-lg-3 mx-4 py-2">Parcours</button></a>

        {% set url = ea_url()
            .setController('App\\Controller\\Admin\\ProcessusCrudController')
            .setAction('index')
        %}
        <a href="{{ url }}"><button type="button" class="btn btn-secondary btn-lg col-lg-3 mx-4 py-2">Processus</button></a>

        {% set url = ea_url()
            .setController('App\\Controller\\Admin\\PromotionCrudController')
            .setAction('index')
        %}
        <a href="{{ url }}"><button type="button" class="btn btn-secondary btn-lg col-lg-3 mx-4 py-2">Promotions</button></a>
    </div>
</div>
<div class="row pt-4">
    <div class="col text-center">
        {% set url = ea_url()
            .setController('App\\Controller\\Admin\\ActiviteCrudController')
            .setAction('index')
        %}
        <a href="{{ url }}"><button type="button" class="btn btn-secondary btn-lg col-lg-3 mx-4 py-2">Activités</button></a>

        {% set url = ea_url()
            .setController('App\\Controller\\Admin\\CompetenceCrudController')
            .setAction('index')
        %}
        <a href="{{ url }}"><button type="button" class="btn btn-secondary btn-lg col-lg-3 mx-4 py-2">Compétences</button></a>
    </div>
</div>
    {% endblock %}
