{% extends 'base.html.twig' %}

{% block title %}Situations !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<script type = "text/javascript">  

	function confirmSuppr() {
	
		if (confirm("Supprimer l'activité ?") == false) {
	
			event.preventDefault();
	
		}
	}
</script>

<div class="example-wrapper">

<h1>Parcours</h1>
	<table>
	<tr><th>Libelles</th><th>Modifier</th><th>Supprimer</th></tr>
    {% for p in promotion %}
			<tr><td>{{p.nom}}</td>
			<td><a href="{{ path('modifierpromotions', {'id': p.id}) }}"><button class="btnUtil">Modifier</button></a></td>
			<td><a href="{{ path('supprimerpromotion', {'id': p.id}) }}"><button class="btnUtil" onClick="confirmSuppr()">Supprimer</button></a></td></tr>
	{% endfor %}
	</table>
	<br>
	<a href="{{ path('ajoutpromotion') }}"><button class="btnUtil">Ajouter des Promotions</button></a>
</div>
{% endblock %}