{% extends 'base.html.twig' %}

{% block title %}Formulaire d'ajout de message{% endblock %}


{% block body %}

<p>Nouvelle activité:</p>

{{ form(form) }}


{% if listeCompetence is defined %}

</br></br>
Compétences:
</br>

{% for c in listeCompetence %}
    </br>- {{ c.nom }}</br>
{% endfor %}

</br></br>

<a href="{{ path('ajoutCompetencewId', {'id': id}) }}"><button>Ajouter compétence</button></a>
<a href="{{ path('gestionCompetence', {'id': id}) }}"><button>Lister compétences</button></a>


{% endif %}



{% endblock %}
