{% extends 'base.html.twig' %}

{% block title %}Situations !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {{ form(form) }}
	
	{% if activites is not empty %}
		<table>
		{% for a in activites.getValues() %}
			<tr><h4>{{activites.getValues[loop.index-1].nom}}</h4><p>{{activites.getValues[loop.index-1].libelle}}</p></tr>
		{% endfor %}
		</table>
	{% endif %}
</div>
{% endblock %}