{% extends 'base.html.twig' %}
  
{% block title %}Gestion Activités {% endblock %}

{% block body %}

<div>
    <h1>Activités par situations: </h1>

	{% if listeSituation is not empty %}
		<table>
			<tr scope="col" ><th>Situations</th><th>Activités</th><th>Compétences</th><th>Description</th><th>Reformulation</th></tr>
				<tr><th  scope="row" >{{ listeSituation.libelle }}</th>

			{% for act in listeActivite[listeSituation.id] %}
				<th  scope="row" >{{ act.nom }}</th>
					{% for comp in listeCompetence[act.id] %}
					<th  scope="row" >{{ comp.nom }}</th>
					<th>{{comp.description}}</th>
						<th>{% for ref in listeReformulation[comp.id] %}
							{% if ref %}</br></br>
							<p> Reformulation: </p>
							{% else %}
							<p> pas de reformulation </p>
							{% endif %}
						{% endfor %}
						{{form(form)}}</th>
					{% endfor %}
			{% endfor %}
			</tr>
		</table>
	{% else %}
		<p>Il n'y a pas d'activités</p>
	{% endif %}
    
    </div>

{% endblock %}
