<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
    <!-- Facultatif, permet de désactiver le mode de compatibilité d'IE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Medias queries : On ouvre la fenêtre à la largeur de l'écran : width=device-width et on règle le zoom : initial-scale=1 -->
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to5555-fit=n">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Projet portefeuille{% endblock %}</title>

    <!-- Feuille de style CSS de Bootstrap -->
    
    <!-- HTML5 shim et Respond.js pour IE8 permettent la compatibilité avec le HTML5 et les media queries -->
    <!-- Attention : Respond.js ne fonctionne pas en local via le protocole file:// -->
    <!--[if lt IE 9]-->


    {% block stylesheets %}
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    {% endblock %}
	
	
    </head>
    
    <header>
    <h1 class="col-12 titre">Suivi du portefeuille de compétences</h1>      
  </header>

  <body>
    <div class="sidebar close">
	
      <ul class="nav-links">
	  <li><i class='bx bx-menu' ></i></li>
	  
		<li>
		{% if is_granted('ROLE_PROF') %}
		<a href="{{ path('list_utilisateur') }}">
            <i class='bxicons' >E</i>
            <span class="link_name">Liste Etudiants</span>
        </a>
		{% endif %}
		</li>
		
        <li>
		{% if is_granted('ROLE_PROF') %}
          <a href="{{ path('listesituationspromo') }}">
            <i class='bxicons' >S</i>
            <span class="link_name">Situations</span>
          </a>
		{% elseif is_granted('ROLE_ETUD') %}
			<a href="{{ path('affichersituation') }}">
            <i class='bxicons' >S</i>
            <span class="link_name">Situations</span>
          </a>
		{% endif %}
         </li>

         <li>
		 {% if is_granted('ROLE_PROF') %}
          <a href="{{ path('synthese_pdfeleve') }}">
            <i class='bx bx-news' ></i>
            <span class="link_name">Synthèse</span>
          </a>
		{% elseif is_granted('ROLE_ETUD') %}
		  <a href="{{ path('synthese_pdf') }}">
            <i class='bx bx-news' ></i>
            <span class="link_name">Synthèse</span>
		  </a>
		{% endif %}
         </li>

        <li>
          <a href="#">
            <i class='bxicons' >B</i>
            <span class="link_name">Bilan</span>
          </a>
         </li> 

         <li>
		{% if is_granted('ROLE_ETUD') %}
          <a href="{{ path('gestionnairesauvegarde') }}">
            <i class='bx bxs-download' ></i>
            <span class="link_name">Sauvegarde</span>
          </a>
		{% endif %}
         </li>

        <li>
          <a href="{{ path('profil') }}">
            <i class='bx bx-cog' ></i>
            <span class="link_name">Paramètre</span>
          </a>
        </li>
		
        <li>
        <div class="profile-details">
          <div class="profile-content">
            <!--<img src="image/profile.jpg" alt="profileImg">-->
          </div>
          <div class="name-job">
            <div class="profile_name">{{ app.user.nom }} {{ app.user.prenom }}</div>
          </div>
	  <a href="{{ path('app_logout') }}">
	    <i class="bx bx-log-out" ></i>
	  </a>
        </div>
      </li>
    </ul>
  </div>
  
  <section class="home-section">
    <div class="home-content">
		
    </div>
    <div class="contenu">
       
	{% block body %}
		<center><h3>Bienvenue sur l'Application du Portefeuille des Compétences</h3></center>
	{% endblock %}
      </div> 
  </section>
  

  <script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>
     

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <!-- Nous mettons les plugins Javascripts en bas de page pour optimiser les temps de chargement-->
    <!-- Plugin jQuery indispensable au bon fonctionnement de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
      {% block javascripts %}{% endblock %}
  </body>
</html>
