{% extends 'base.html.twig' %}

{% block title %}Situations !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ form_start(form) }}
        {{ form_label(form.etudiant) }}
    &ensp
        {{ form_widget(form.etudiant) }}
        <br>
        {{ form_widget(form.ajouter) }}
    {{ form_end(form) }}
</div>
{% endblock %}