<page orientation="landscape">
 
    <page_footer>
        <hr />
        <p>Fait a Paris, le 10</p>
        <p>Signature du particulier, suivie de la mension manuscrite "bon pour accord".</p>
    </page_footer>
 
	<page_header>
	
	    <table style="vertical-align: top;">
		<tr>
		    <td class="75p">
			<strong>{{user.prenom}} {{user.nom}}</strong><br />
			{{user.email}}
		    </td>
		</tr>
	    </table>
	
	</page_header>
 
    <table style="margin-top: 50px;">
        <tr>
            <td class="50p"><h2>Synthèse</h2></td>
            <td class="50p" style="text-align: right;">Emis le 10</td>
        </tr>
        <tr>
            <td style="padding-top: 15px;" colspan="2"><strong>Objectif:</strong></td>
        </tr>
    </table>
 
    <table style="margin-top: 30px;" class="border">
        <thead>
            <tr>
                <th class="60p">Activité</th>
                <th class="10p">Compétence</th>
            </tr>
        </thead>
        <tbody>
            {% for a in activite %}
            <tr>
                <td>{{a.libelle}}</td>
                <td>{{a.description}}</td>
                <td>{{a.source}}</td>
            </tr>
            {% endfor %}
 
            <tr>
                <td class="space"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
 </page>
