{% extends 'base.html.twig' %}

{% block title %}Situations !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<script type = "text/javascript">  

	function confirmSuppr() {
	
		if (confirm("Supprimer la Production ?") == false) {
	
			event.preventDefault();
	
		}
	}
</script>

<div class="example-wrapper">
<h1>Situations Titre: {{situation.libelle}}</h1><br/>
<br/>
{% if is_granted('ROLE_ETUD') %}
    <center><p><a href="{{ path('ajoutproduction', {'id':situation.id}) }}"><button id="btn" class="bx bx-plus-medical"></button></a><p></center>
    <br/>

    {% if productions is not empty %}
	    <table>
		    <tr><th>Libelle</th><th>Uri</th><th>Téléchargement<th>Modifier</th><th>Supprimer</th>

		    {% for p in productions %}
			    <tr><td>{{p.designation}}</td>
				<td>{{p.uri}}</td>
			    <td><a href="{{ path('telechargement', {'nom': p.uriEntier}) }}"><button class="btnUtil">Télécharger</button></a></td>
			    <td><a href="{{ path('modifierproduction', {'id': p.id, 'situationid': situation.id}) }}"><button class="btnUtil">Modifier</button></a></td>
			    <td><a href="{{ path('supprimerproduction', {'id': p.id, 'situationid': situation.id}) }}"><button class="btnUtil" onClick="confirmSuppr()">Supprimer</button></a></td>
		    {% endfor %}
	    </table>
    {% endif %}
    {% if productions is empty %}
    <center><h3>Vous n'avez pas de Productions</h3></center>
    {% endif %}
{% endif %}
{% if is_granted('ROLE_PROF') %}
    {% if productions is not empty %}
	    <table>
			<tr><th>Libelle</th><th>Uri</th><th>Télécharger</th></tr>

		    {% for p in productions %}
			    <tr><td>{{p.designation}}</td>
			    <td>{{p.uri}}</td>
				<td><a href="{{ path('telechargement_prof', {'nom': p.situation.etudiant.nom,'prenom':p.situation.etudiant.prenom,'id':p.situation.etudiant.id,'promotion':p.situation.etudiant.promotion.nom,'parcours':p.situation.etudiant.parcours.nom,'uri': p.uriEntier}) }}"><button class="btnUtil">Télécharger</button></a></td>
		    {% endfor %}
	    </table>
    {% endif %}
    {% if productions is empty %}
    <center><h3>Il n'y a pas de Production</h3></center>
    {% endif %}
{% endif %}
</div>
{% endblock %}
